# Entorno virtual
venv/
env/

# Archivos de Python compilados
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# Archivos de sistema
desktop.ini
Thumbs.db

# Archivos estáticos recolectados
/staticfiles/

# Archivos de configuración local
*.env
*.log

# IDEs y editores
.vscode/
.idea/

# Migraciones innecesarias
*/migrations/__pycache__/
*/migrations/*.pyc

# Netlify (por si lo usas en el futuro)
.netlify/