# Entorno virtual
venv/
env/

# Archivos compilados de Python
*.pyc
__pycache__/

# Base de datos local (no subir nunca a producción)
db.sqlite3

# Archivos estáticos recolectados (Django collectstatic)
staticfiles/
static/

# Archivos de configuración y secretos
*.env
*.log
settings.txt   # ⚠️ importante, así nunca más se sube

# IDEs y editores
.vscode/
.idea/

# Migraciones innecesarias (solo dejar __init__.py)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de backup
*.bak
*.tmp

# Archivos de traducción
*.mo
*.pot

# Netlify (si lo usas en el futuro)
.netlify/