# Entorno virtual
venv/
env/

# Archivos compilados
*.pyc
__pycache__/

# Base de datos local
db.sqlite3

# Archivos estáticos recolectados
staticfiles/

# Archivos de configuración local
*.env
*.log

# IDEs y editores
.vscode/
.idea/

# Migraciones innecesarias
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.py
!*/migrations/__init__.py

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de backup
*.bak
*.tmp

# Archivos de traducción
*.mo
*.pot

# Netlify (por si lo usas en el futuro)
.netlify/

db.sqlite3
__pycache__/
*.pyc