{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v={{ STATIC_VERSION }}">

    <title>Django de nuevo</title>
</head>
<body>

    <h1 class="texto"> Hola desde Django! Super feliz de entender y poder seguir aprendiendo 2025 Octubre:) </h1>
    <h1 class="titulo">Hola Codelatinos</h1>
    <p style="color: red;">hola desde un párrafo</p>
</body>
</html>